.navbar{
    background-color: rgb(17, 16, 16);
}
.navbar a{
    padding: 6px 0px 2px 40px;  
}
.navbar img{
    width: 80px;
}
.navbar ul li a{
    text-decoration: none;
    padding: 2px 40px 2px 0px;
    font-size: 22px;
    color: rgb(253, 253, 253);
}