.navbar{
    background-color: rgb(17, 16, 16);
}
.active {
    border-bottom: 4px solid white;
}

.navbar img{
    width: 80px;
}
.navbar ul li a{
    text-decoration: none;
    /* margin: 2px 20px 20px 0px; */
    font-size: 22px;
    color: rgb(253, 253, 253);
    padding: 2px 15px 2px 15px;
    color: white;
}