.project h2{
    text-align: center;
    font-size: 40px;
    color: darkturquoise;
    margin: 5% auto;
    width: 300px;
    padding-bottom: 7px;
    border-bottom: 5px solid #D5E0E8;
}
.project {
   
}
