.Information{
    margin-top: 10%;
    width: 600px;
    color: rgb(0, 0, 0);
    margin-bottom: 8%;
}
.intro{
    text-align: center;
    padding: 6px;
}
.aboutImage{
    width: 50%;
    color: #000000;
    margin: 0px auto;
}
.aboutImage img{
    border-radius: 4%;
    text-align: center;
    width: 100%;
}
.icon {
    padding: 4px;
}
.socialIcon{
    text-align: center;
}