.skills{

}
.skills h2{
    text-align: center;
    font-size: 40px;
    color: #2C2255;
    /* border-bottom: 5px solid #f3f3f7; */
    margin: 50px auto;
    width: 230px;
    padding-bottom: 7px;
    border-bottom: 5px solid #251c4d;
}

.skillType{
    padding: 10px;
}

/* .skill{
    margin-left: 15px;
} */
.skillType p{
    color: rgb(255, 254, 254);
    display: inline-block;
    margin: 5px;
    padding: 8px;
    font-size: 16px;
     background-color: #0C5D7F;
     border-radius: 8px 2px 8px 2px;
}


.skillType h3{
    color: rgb(10, 10, 10);
    font-size: 30px;
    padding: 8px;
    /* border-bottom: 5px solid #f8f8f4; */
}